*{
  font-family: "Roboto";
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  background-color: aliceblue;
  background-image: url("bg.png");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

img{
  max-width:100%;
  max-height:100%;
}

.logo{
  height:150px;
  text-align:center;
  width:100%;
}

.chat-container{
  overflow: auto;
  z-index: 2;
  height: calc(100vh - 240px);
}

.chat-content{
  white-space: pre;
}

.chat-content-outer{
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: grey;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.chat-bubble{
  display: flex;
  align-items: start;
}
.chat-bubble .image{
  display: block;
  --size: 6em;
  border-radius: var(--size);
  width: var(--size);
  height: var(--size);
  align-self: flex-start;
  min-width: var(--size);
}
.chat-user{
  flex-flow: row-reverse;
}
.chat-user .image{
  background-color: #faf;
  background: url('you.png');
  image-rendering: -webkit-optimize-contrast;
  background-size: 6em;
  margin-right: 15px;
}
.chat-user .chat-content-outer{
  background-color: #fffad6;
  border-color: #e89300;
  color: #632104;
  border-bottom-right-radius: 0;
}
.chat-reply{
  flex-flow: row;
}
.chat-reply .image{
  background-color: #afa;
  background-size: 7em;
  margin-left: 15px;
}
.chat-reply .chat-content-outer{
  border-bottom-left-radius: 0;
}

.chat-content-outer{
  position: relative;
}

.reaction{
  content: '?!';
  height: 1.2em;
  border-radius: 10px;
  background-image: url("question.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2em;
  background-color: #ffffff;
  width: 1em;
  display: block;
  position: absolute;
  right: -.75em;
  top: -.75em;
  padding: .3em;
}
    
.query-container{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

input{
  border: 0;
  --offset: .2em;
  --smear: .2em;
  --opacity: 0.1;
  box-shadow: var(--offset) var(--offset) var(--smear) var(--smear) rgba(0, 0, 0, var(--opacity));
  transition: box-shadow .1s;
}

input[type=text]{
  width: calc(100% - 100px);
  padding: 10px;
  border-radius: 10px;
}

input[type=submit]{
  --h: 209;
  --s: 60%;
  --l: 50%;
  padding: 10px;
  background-color: hsl(var(--h), var(--s), var(--l));
  color: white;
  border-color: #3583cc;
  border-radius: 10px;
  transition: background-color .1s, box-shadow .1s;
}

input[type=submit]:hover{
  background-color: hsl(var(--h), var(--s), calc(var(--l) - 10%));
}

input[type=submit]:active{
  --smear: .1em;
  --offset: .1em;
  --opacity: .3;
}

footer{
  position: absolute;
  bottom: 12px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

h1{
  text-align: center;
}
